/python/lsst/testing/displayQA/version.py
/python/lsst/testing/displayQA/*.pyc
/python/lsst/testing/displayQA/figures/*.pyc
/ups/testing_displayQA.cfgc

# /
/.sconsign.dblite
/.sconf_temp
/config.log

# /www/
/www/checkPipetteAllMappers
/www/test_*
